*{
	margin: 0px;
	padding: 0px;
}
body{
	
}
.addButton{
	background: #d35400;
    display: block;
    width: 75px;
    height: 75px;
    font-size: 5em;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    margin-left: 65%;
    margin-top: 80vh;
    cursor: pointer;
    position:fixed;
    z-index:100;
}
.addButton:hover{
	background:#e67e22;
	transition:background 1s;
}
.round{
    background: #d35400;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    position:relative;
}
.text{
	position: absolute;
	margin-left: 35%;
	margin-top: 15%;
	display: block;
	font-size: 1.8em;
}
.root-row{
	position: relative;
	padding: 15px;
	margin-top:2em;    
}
.icon{
	margin-top: 1%;    
}
.schedule-day{
	font-size: 20px;
	font-weight: bold;   
}
.schedule-text{	
	color: #7f8c8d;
	font-size: 1.2em;
}

.noAppointForTodayMsg{

    display: block;
    background: #e74c3c;
    padding: 20px;
    font-size: 1.5em;
    color: white;
    border-left: 5px solid white;
    margin-top: 17vh;
}
.noAppointForTodayDiv{
    background: rgba(189, 195, 199,0.7);
    height: 50vh;
    margin-top: 25vh;
    width: 95%;
}

